root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2